@font-face {
  font-family: "Nunito";
  src: url("../font/NunitoSans_7pt-Regular.ttf") format("truetype");
}

body,
html {
  background: #004040;
  color: #bfbe9c;
  font-family: Nunito;
}

a {
  color: #00BFAE;
}

#board {
  width: 750px;
}

main {
  display: flex;
}

#board.party [data-square][class*=' black'] {
  background: red;
  animation: party 5s infinite;
}

#board.party [data-square][class*=' white'] {
  background: red;
  animation: party2 5s infinite;
}

#board.party [data-piece] {
  animation: rotation 3s infinite linear;
}

#stack {
}

.card {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  right: 20px;
  overflow: hidden;
  transition: right 0.5s ease-out, top 0.5s ease-out, transform 0.5s ease-out, box-shadow 0.2s linear;
  perspective: 500px;
  box-sizing: content-box;
  pointer-events: none;
}

.card.removed {
  display: none;
}

.card.drawing {
  right: 500px;
  top: 250px;
  transform: scale(2);
}

.card .card-content {
  box-sizing: content-box;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flip .card-content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card .front {
  border: 5px solid white;
}

.card .front,
.card .back {
  box-sizing: content-box;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  backface-visibility: hidden;
}

.card .back {
  background: white url("../img/card/bg2.jpg") no-repeat;
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  font-size: 15px;
  margin: 0 15px 15px 15px;
}

.card p {
  font-size: 10px;
  margin: 0 15px 0 15px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes party {
  0% {background-color: red;}
  25% {background-color: orange;}
  50% {background-color: pink;}
  75% {background-color: cyan;}
  100% {background-color: red;}
}

@keyframes party2 {
  0% {background-color: pink;}
  25% {background-color: cyan;}
  50% {background-color: red;}
  75% {background-color: green;}
  100% {background-color: pink;}
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}