$cardBg: "../img/card/bg2.jpg";
$cardTitleColor: black;
$cardTextColor: black;
$cardDrawSpeed: 0.5s;
$cardFlipSpeed: 1s;

#board {
  width: 65%;
  position: relative;

  &.party {
    [data-square][class*=' black'] {
      background: red;
      animation: party 5s infinite;
    }

    [data-square][class*=' white'] {
      background: red;
      animation: party2 5s infinite;
    }
  }

  &.vomit {
    [data-piece] {
      animation: rotation 3s infinite linear;
    }
  }

  &.angle {
    transform: rotate(90deg);
  }

  &.ackboo {
    &::after {
      position: absolute;
      background: url("../img/ackboo.jpg");
      background-size: cover;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0.35;
      pointer-events: none;
    }
  }

}

.card {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  right: 20px;
  overflow: hidden;
  transition: right $cardDrawSpeed ease-out,
              top $cardDrawSpeed ease-out,
              transform $cardDrawSpeed ease-out,
              box-shadow 0.2s linear;
  perspective: 500px;
  box-sizing: content-box;
  pointer-events: none;

  &.removed {
    display: none;
  }

  &.drawing {
    right: 500px;
    top: 250px;
    transform: scale(2);
  }

  .card-content {
    box-sizing: content-box;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    transition: transform $cardFlipSpeed;
    transform-style: preserve-3d;
  }

  &.flip .card-content {
    transform: rotateY(180deg);
    transition: transform $cardFlipSpeed;
  }

  .front, .back {
    box-sizing: content-box;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    backface-visibility: hidden;
  }

  .front {
    border: 5px solid white;
  }

  .back {
    background: white url($cardBg) no-repeat;
    background-size: cover;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
    color: $cardTitleColor;
  }

  p {
    font-size: 10px;
    margin: 0 15px 0 15px;
    color: $cardTextColor;
  }

  small {
    margin: 10px 15px 0 15px;
    font-size: 8px;
    color: grey;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

#history {
  position: absolute;
  bottom: 2%;
  height: 30%;
  overflow-y: auto;
  right: 2%;
  left: 67%;
  font-size: 12px;

  .entry {
    background: #fff;
    color: #222;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 10px;

    &.black {
      background: #000;
      color: #eee;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 2px;
    margin-top: 0;
  }

  span.color {
    font-size: 10px;
    font-weight: bold;
  }

  .entry.error {
    background: #ff9393 !important;
    color: #750000 !important;
  }
}