$cardBg: "../img/card/bg2.jpg";
$cardTitleColor: black;
$cardTextColor: black;
$cardDrawSpeed: 0.5s;
$cardFlipSpeed: 1s;

$leftSideWidth: 18%;
$padding: 2%;
$boardWidth: 56%;
$sidebarWidth: 100% - $boardWidth - $leftSideWidth;

html.play {
  height: 100%;
  height: 100%;
  width: 100%;

  body{
    height: 100%;
    width: 100%;

    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
  }
}

#board {
  width: $boardWidth;
  padding: $padding;
  position: relative;
  margin-right: auto;
  margin-left: $leftSideWidth;

  div[class^='chessboard'], div[class*=' chessboard']{
    position: relative;
  }

  &.party {
    [data-square][class*=' black'] {
      background: red;
      animation: party 5s infinite;
    }

    [data-square][class*=' white'] {
      background: red;
      animation: party2 5s infinite;
    }
  }

  &.vomit {
    [data-piece] {
      animation: rotation 3s infinite linear;
    }
  }

  &.angle {
    transform: rotate(90deg);
  }

  &.ackboo {
    div[class^='chessboard'], div[class*=' chessboard']{
      &::after {
        position: absolute;
        background: url("../img/ackboo.jpg");
        background-size: cover;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0.35;
        pointer-events: none;
      }
    }
  }
}

.sidebar {
  width: $sidebarWidth;
  padding: $padding $padding $padding 0;

  .menu {
    position: absolute;
    left: $padding;
    padding-top: 1%;
    top: $padding;
    display: flex;
    flex-direction: column;

    a {
      display: inline-block;
      margin-bottom: 8px;
      box-shadow: inset 0 1px 0 0 #caefab;
      background: #77d42a linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
      border-radius: 42px;
      border: 1px solid #268a16;
      cursor: pointer;
      color: #306108;
      font-family: Arial, sans-serif;
      font-size: 2.2vh;
      font-weight: bold;
      padding: 8px 20px;
      text-decoration: none;
      text-shadow: 0 1px 0 #aade7c;
      text-align: center;

      &:hover {
        background: #5cb811 linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.card {
  width: 16%;
  top: 25%;
  right: 5%;
  aspect-ratio: 1;
  position: absolute;
  transition: right $cardDrawSpeed ease-out,
              top $cardDrawSpeed ease-out,
              transform $cardDrawSpeed ease-out,
              box-shadow 0.2s linear;
  perspective: 500px;
  box-sizing: content-box;
  pointer-events: none;

  &.removed {
    display: none;
  }

  &.drawing {
    right: 40%;
    top: 15%;
    transform: scale(1.7);

    &.w-turn {
      top: 55%;
    }
  }

  .card-content {
    box-sizing: content-box;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    transition: transform $cardFlipSpeed;
    transform-style: preserve-3d;
  }

  &.flip .card-content {
    transform: rotateY(180deg);
    transition: transform $cardFlipSpeed;
  }

  .front, .back {
    box-sizing: content-box;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    backface-visibility: hidden;
    border: 5px solid white;
    border-radius: 1.3vh;
    overflow: hidden;
  }

  .back {
    background: white url($cardBg) no-repeat;
    border-radius: 1.3vh;
    background-size: cover;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    font-size: 1.5vh;
    margin: 0 15px 15px 15px;
    color: $cardTitleColor;
  }

  p {
    font-size: 1.2vh;
    margin: 0 15px 0 15px;
    color: $cardTextColor;
  }

  small {
    margin: 10px 15px 0 15px;
    font-size: 0.9vh;
    color: grey;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}

#history {
  position: absolute;
  padding: $padding $padding $padding 0;
  bottom: 0;
  right: 0;
  height: 40%;
  width: $sidebarWidth;
  overflow-y: auto;
  font-size: 1.3vh;
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);

  .entry {
    background: #fff;
    color: #222;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 10px;

    &.black {
      background: #000;
      color: #eee;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 2px;
    margin-top: 0;
  }

  span.color {
    font-size: 10px;
    font-weight: bold;
  }

  .entry.error strong {
    color: #be1616;
  }
}

#status {
  font-size: 2vh;
  padding: 15px;
  font-weight: bold;
  background: #fff;
  color: #555;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}